.header
{
	background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)) ,url(../images/coffee.jpg);
	height:100vh;
	background-size:cover;
	background-position:center;
	
}

.hero
{
	position: absolute;
	width: 1200px;
	margin-left:50px;
	margin-top: 0px;
}

h1
{
	color: lightblue;
	text-transform: uppercase;
	font-size: 70px;
	margin-top: 275px;
	text-align: center;
	margin-left:100px;
}

.button
{
	margin-top: 30px;
	margin-left: 525px;
}

.btn-one
{
	border: 1px solid lightblue;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
	font-size: 13px;
	font-family: "roboto""san-serif"
}

.btn-two
{
	border: 1px solid lightblue;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
	font-size: 13px;
	font-family: "roboto""san-serif"
}

.btn-three
{
	border: 1px solid lightblue;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
	font-size: 13px;
	font-family: "roboto""san-serif"
}

.btn-one:hover
{
	background-color: #f3f3f3;
	transition: all 0.5s ease-in;
}

.btn-two:hover
{
	background-color: #f3f3f3;
	transition: all .5s ease-in;
}

.btn-one:hover
{
	background-color: #f3f3f3;
	transition: all 0.5s ease-in;
}

.btn-three:hover
{
	background-color: #f3f3f3;
	transition: all 0.5s ease-in;
}