.new-margin {
	float: center;
}
.no-pad {
	padding: 0;
	background-image: none;
}
.head {
	text-align: center;
	font-size-adjust: inherit;
	text-transform: capitalize;
}
p {
	font-size: 1.3vw;
}
h6 {
	font-size: 1.6vw;
}
body {
	font-size: large;
	color: oldlace;
	opacity: 2;
}
.header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(../img/coffee.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	--webkit-background-size: cover;
	--moz-background-size: cover;
	-o-background-size: cover;
}

.hero {
	position: absolute;
	width: 100%;
	margin: 0;
}

.h1 {
	color: lightblue;
	text-transform: uppercase;
	font-size: 70px;
	margin-top: 35rem;
	text-align: center;
	margin-left: 0;
}
.margo,
#l-margin {
	margin-left: 0px;
	text-align: center;
}

.button {
	margin-top: 30px;
	margin-left: 525px;
}
.btn-two,
.btn-three,
.btn-one,
.btn-four {
	border: 1px solid lightblue;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
	font-size: 13px;
	font-family: "roboto" "san-serif";
}
.btn-one:hover,
.btn-two:hover,
.btn-three:hover,
.btn-four:hover {
	background-color: #f3f3f3;
	transition: all 0.5s ease-in;
}
#btn-four {
	padding-left: 20px;
}
.btn-four:hover {
	color: black;
}
.no-margin {
	margin-left: 15%;
}
#faq {
	display: none;
}